*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #1F5E72;
}

h1, h2{
    margin: 0 0 10px 0;
}

p{
    margin: 5px 0;
}

a{
    color: #1F5E72;
}

header{
    display: flex;
    align-items: center;
    padding: 5px 80px;
    height: 60px;
    background-color: #F5FBEF;
}

main{
    position: relative;
    background-color: #1F5E72;
    color: #F5FBEF;
    min-height: 100vh;
}

.main-padding{
    padding-left: 80px;
    padding-right: 80px;
}

.main-margins{
    margin: 40px 0;
}

footer{
    background-color: #F5FBEF;
    padding: 10px;
    font-size: .8em;
    text-align: center;
}

.header-nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-nav ul{
    list-style: none;
}

.header-nav ul a{
    text-decoration: none;
    color: black;
}

.header-nav ul a:hover{
    opacity: .6;
}

.header-nav ul li{
    display: inline;
}

.header-nav ul li:not(last){
    padding-right: 20px;
}

.login-main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-main > .login-box{
    margin: 50px auto;
}

.login-box{
    background-color: white;
    padding: 30px 50px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: black;
}

.login-box input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

input[type="submit"]{
    margin-top: 10px;
    padding: 15px 25px; 
    cursor: pointer;
    background-color: #84C318;
    color: white;
    font-size: 1.1em;
}

input[type="submit"]:hover{
    background-color: #748B75;
}

input{
    border: 1px solid #748B75;
    padding: 15px 20px;
}

.info-small{
    font-size: .8em;
}

.slider::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #748B75;
    opacity: .6;
}

.slider-text{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
}
/*
.slider-text h1, .slider-text h2, .slider-text p{
    background-color: black;
    padding: 10px;
}
*/
.slider-text{
    background-color: rgba(0, 0, 0, .7);
    padding: 10px 30px;
}

.about-img{
    float: left;
    margin-right: 20px;
}

.info-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

.post{
    display: flex;
    margin: 20px 0;
}

.post img{
    margin-right: 15px;
}

.post-title{
    display: flex;
    justify-content: space-between;
}

.contact{
    display: flex;
}

.contact > div:first-child{
    flex: 2;
}

.contact > div:last-child{
    flex: 1;
    margin-left: 20px;
}

.contact p{
    font-size: 1.2em;
}

.read-more{
    display: inline-block;
    padding: 12px 40px;
    background-color: #84C318;
    text-decoration: none;
    color: white;
}

textarea{
    padding: 20px;
}

.new-post-container input, .new-post-container textarea{
    margin: 10px 0;
    border: 1px solid #b6b6b6;
    width: 50%;
}

.new-post-container, .container-box{
    background: #F5FBEF;
    color: black;
    padding: 15px 20px;
}

.instruktori-table {
    width: 100%;
    border-spacing: 0;
}

.instruktori-table td, .instruktori-table th{
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}

.instruktori-table th{
    text-align: left;
}

.comment-section{
    margin: 20px 0;
}

.single-comment{
    margin: 20px 0;
    width: 50%;
    padding-bottom: 20px;
}

.comment-section textarea{
    width: 50%;
}

.post-container{
    position: relative;
    display: flex;
}

.post-container img{
    margin-right: 15px;
}

.post-d{
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.error-message{
    color: red;
}